<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Birthyear</th>
      <th>Deathyear</th>
      <th>Hometown</th>
      <th>Location</th>
      <th>Nationality</th>
      <th>Thumbnail</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= artist.gender %></td>
        <td><%= artist.birthyear %></td>
        <td><%= artist.deathyear %></td>
        <td><%= artist.hometown %></td>
        <td><%= artist.location %></td>
        <td><%= artist.nationality %></td>
        <td><%= artist.thumbnail %></td>
        <td><%= artist.url %></td>
        <td><%= link_to 'Show', artist %></td>
        <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artist', new_artist_path %>
